<nav class="navbar navbar-full navbar-dark bg-inverse">

  <div class="container">

    <%= link_to "Balance", root_path, class: "navbar-brand" %>

    <ul class="nav navbar-nav float-md-right">

      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Logout",signout_path, method: :delete, class: "nav-link"%></li>

      <% else %>
        <li class="nav-item"><%= link_to "How It Works", faq_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Sign up",signup_path, class: "btn btn-primary" %></li>
        <li class="nav-item"><%= link_to "Sign in",signin_path, class: "nav-link"%></li>

      <% end %>

    </ul>
  </div>
</nav>
